@page "/product/ExportToPdf"
@using Test.Client.Interfaces
@using Test.Shared.Entities.DataBase
@inject NavigationManager NavigationManager
@inject IProductServices productServices


<div class="container">

    <MudText Typo="Typo.h3" class="p-3 text-center">Exportar productos a PDF</MudText>
        <div class="container-fluid ">
            <MudCard class="p-4">
                <MudTextField @bind-Value="nombreArchivo" Label="Nombre de Archivo" Required="true"/>

                <div class="mud-spacing">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@string.IsNullOrEmpty(nombreArchivo)" @onclick="Exportar">Exportar</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="Volver">Volver</MudButton>
                </div>
            </MudCard>
        </div>
</div>


@code {
    private string nombreArchivo;

    private void Exportar()
    {
         var tempo = productServices.ExportToPdf(this.nombreArchivo);
    }
    private void Volver()
    {
        NavigationManager.NavigateTo($"product/");
    }
}
